---
import MainLayout from "~/layouts/main.astro";
import Project from "~/components/project.astro";
import ContributionCalendar from "~/components/ContributionCalendar";
import type { ProjectFrontMatter } from "~/types";
import { sortedBy } from "~/utils";

interface Projects {
  name: string;
  alt: string;
}

const getProjects = await Astro.glob<ProjectFrontMatter>("./projects/*.md");
const projects = getProjects
  .map((project) => project.frontmatter)
  .sort(sortedBy("published_date", "desc"))
  .map((project) => {
    const { name } = project;
    const slug = name.toLowerCase().replace(/'/g, "").replace(/\s/g, "-");
    const projectLink = `/projects/${slug}`;
    const imagePath = `${slug}/1.png`;
    const alt = `${name} project`;
    return { name, projectLink, imagePath, alt };
  });
---

<MainLayout>
  <div
    class="flex flex-col w-full justify-center items-center min-h-[60vh] px-10 gap-2"
  >
    <div>
      <div class="flex justify-center">
        <h1
          class="relative text-4xl lg:text-6xl font-bold text-neutral-800 text-center"
        >
          SornchaiTheDev
          <span
            class="absolute top-2 md:top-3 w-2 h-2 md:w-3 md:h-3 rounded-full bg-lime-500 animate-pulse"
          ></span>
        </h1>
      </div>
      <h3 class="text-sm text-neutral-700 lg:text-2xl text-center mt-2">
        Every Developer begin their journey with "Hello, World"
      </h3>
    </div>
    <div class="mt-10 max-w-full">
      <ContributionCalendar client:only />
    </div>
  </div>

  <div class="px-4 lg:px-24">
    <h2 class="text-4xl lg:text-5xl font-bold">Projects</h2>
    <div class="grid grid-cols-12 gap-y-10 md:gap-10 my-16">
      {
        projects.map(({ name, alt, projectLink, imagePath }) => {
          return <Project {...{ name, projectLink, imagePath, alt }} />;
        })
      }
    </div>
  </div>
</MainLayout>
